$dark-color: hsl(216, 43%, 17%);
$green-color: hsl(178, 63%, 51%);
$red-color: hsl(351, 100%, 60%);
$yellow-color: hsl(46, 100%, 50%);
$section-color: hsl(196, 52%, 96%);
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
// *start Navbar
.navbar {
  background: $dark-color;
  .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
  }
  .navbar-toggler[aria-expanded="true"] {
    border-color: $green-color;
  }
  .search {
    color: $green-color;
  }
  .search svg {
    border-left: 1px solid $green-color;
    padding-left: 10px;
  }
}
.main-btn {
  background-color: $red-color;
  color: $yellow-color;
  border-radius: 20px;
  padding: 2px 20px;
  &:hover {
    background-color: #db2944;
    color: $yellow-color;
  }
}
.navbar-nav {
  .nav-item {
    .nav-link {
      color: $section-color;
      &:hover {
        color: $green-color;
      }
      &:focus {
        color: $green-color;
      }
    }

    .active {
      color: $green-color;
    }
  }
}
// *End Navbar

// * Section Landing
#landing {
  background: $dark-color;
  color: $yellow-color;
  min-height: calc(100vh - 72px);
  h1 {
    font-weight: bold;
    font-size: 4rem;

    span {
      color: $yellow-color;
      font-size: 4rem;
    }
  }
  .text-center {
    .main-btn {
      background-color: $red-color;
      color: $yellow-color;
      border-radius: 20px;
      padding: 10px 70px;
      &:hover {
        background-color: #db2944;
        color: $yellow-color;
      }
    }
  }
}
// *end landing
// * start features

.main-title {
  &::after {
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background: $green-color;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: -20px;
  }
}

.icon-holder {
  height: 200px;
  margin-bottom: 20px;
  svg {
    left: 50%;
    transform: translateX(-50%);
  }

  .number {
    height: 180px;
    color: $section-color;
  }
  .icon {
    font-size: 3rem;
    color: $green-color;
  }
}
// * end features
//  * start our work
#our-work {
  background-color: $section-color;
  ul .active {
    background: $red-color;

    color: $yellow-color;
  }
  ul li {
    list-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    &:not(.active) {
      &:hover {
        color: $red-color;
        transition: all 0.4s;
      }
    }
  }
  .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #33d1ccc2;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
  }
  .box:hover::before {
    transform: translateX(0);
  }
  .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
  }
}

// * end our work
// * start some stuff
#Some-stuff {
  .container {
    .discription {
      max-width: 700px;
    }
  }
}
// * endsome stuff
// * start our team

#our-team {
  background-color: $section-color;
  .title {
    color: $yellow-color;
    font-size: 3rem;
  }
  .discription {
    max-width: 800px;
    margin: auto;
  }
  h4 {
    background-color: $green-color;
  }
}
// * end our team
// * Start Tech
#projects {
  background-color: $dark-color;
  .discription {
    font-size: 0.8rem;
  }
  .title {
    color: $yellow-color;
  }
}
// * end Tech
// *start blog\

// *end blog

// * start subscribe

#subscribe {
  background-color: $yellow-color;
  .email {
    width: 100%;
    color: white;
    border: none;
    background-color: $yellow-color;
    border-bottom: 1px solid white;
    &:focus {
      outline: none;
      border-bottom: 1px solid $dark-color;
    }
    &::placeholder {
      color: white;
    }
  }
}

// * end subscribe
