body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #19283e;
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: #33d1cc;
}

.navbar .search {
  color: #33d1cc;
}

.navbar .search svg {
  border-left: 1px solid #33d1cc;
  padding-left: 10px;
}

.main-btn {
  background-color: #ff3352;
  color: #ffc400;
  border-radius: 20px;
  padding: 2px 20px;
}

.main-btn:hover {
  background-color: #db2944;
  color: #ffc400;
}

.navbar-nav .nav-item .nav-link {
  color: #eff7fa;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #33d1cc;
}

.navbar-nav .nav-item .nav-link:focus {
  color: #33d1cc;
}

.navbar-nav .nav-item .active {
  color: #33d1cc;
}

#landing {
  background: #19283e;
  color: #ffc400;
  min-height: calc(100vh - 72px);
}

#landing h1 {
  font-weight: bold;
  font-size: 4rem;
}

#landing h1 span {
  color: #ffc400;
  font-size: 4rem;
}

#landing .text-center .main-btn {
  background-color: #ff3352;
  color: #ffc400;
  border-radius: 20px;
  padding: 10px 70px;
}

#landing .text-center .main-btn:hover {
  background-color: #db2944;
  color: #ffc400;
}

.main-title::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #33d1cc;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: -20px;
}

.icon-holder {
  height: 200px;
  margin-bottom: 20px;
}

.icon-holder svg {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon-holder .number {
  height: 180px;
  color: #eff7fa;
}

.icon-holder .icon {
  font-size: 3rem;
  color: #33d1cc;
}

#our-work {
  background-color: #eff7fa;
}

#our-work ul .active {
  background: #ff3352;
  color: #ffc400;
}

#our-work ul li {
  list-style: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 20px;
}

#our-work ul li:not(.active):hover {
  color: #ff3352;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: #33d1ccc2;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.5rem;
  -webkit-transform: translateX(calc(-100% - 5px));
          transform: translateX(calc(-100% - 5px));
}

#our-work .box:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}

#Some-stuff .container .discription {
  max-width: 700px;
}

#our-team {
  background-color: #eff7fa;
}

#our-team .title {
  color: #ffc400;
  font-size: 3rem;
}

#our-team .discription {
  max-width: 800px;
  margin: auto;
}

#our-team h4 {
  background-color: #33d1cc;
}

#projects {
  background-color: #19283e;
}

#projects .discription {
  font-size: 0.8rem;
}

#projects .title {
  color: #ffc400;
}

#subscribe {
  background-color: #ffc400;
}

#subscribe .email {
  width: 100%;
  color: white;
  border: none;
  background-color: #ffc400;
  border-bottom: 1px solid white;
}

#subscribe .email:focus {
  outline: none;
  border-bottom: 1px solid #19283e;
}

#subscribe .email::-webkit-input-placeholder {
  color: white;
}

#subscribe .email:-ms-input-placeholder {
  color: white;
}

#subscribe .email::-ms-input-placeholder {
  color: white;
}

#subscribe .email::placeholder {
  color: white;
}

#footer {
  background-color: #19283e;
}
/*# sourceMappingURL=style.css.map */